<!DOCTYPE html>
<html>
    <head>
        <title>Story Teller - Health Check</title> 
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/1.png">
        
        </script>
    </head>
    <body>
        <div class="main-content">
            TODO
        </div>
    </body>
</html>